<%= form_with(model: promo, local: true) do |form| %>
  <% if promo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promo.errors.count, "error") %> prohibited this promo from being saved:</h2>

      <ul>
      <% promo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="form-group">
        <p>
      Duración de la promoción:</br>
              <%= form.radio_button :validezElegida, "baja" %>
              <%= form.label 'validez_baja', ' 24 horas' %>

              <%= form.radio_button :validezElegida, "media" %>
              <%= form.label 'validez_media', ' 3 días' %>

              <%= form.radio_button :validezElegida, "alta" %>
              <%= form.label 'validez_alta', ' 1 semana' %>

        </p>
  </div>



  <div class="actions">
    <%= form.submit "Publicar", class: "btn btn-primary" %>
  </div>
<% end %>


<!--  -->
