<%= link_to promo_path(promo) do %>
  <div class="alert alert-success">
    <h6 class="alert-link">  <%= promo.titulo %>  </h6>
    <small class="text-right text-muted"><%= promo.empresa.nombre if (promo.empresa) %></small>
    <small><%= Nokogiri::HTML(promo.texto).text.truncate(100, separator: ' ') %> </small>
    <p><h6> <strong> <%= time_format(promo.validez) %> </strong></h6></p>

    <%= image_tag (promo.image.url), class: "img-fluid img-thumbnail fotos" unless !promo.image.blank? %>
  </div>
<% end %>
