
<h1>Promos</h1>

<div class="col-md-12">

  <div class="alert alert-info">
    <strong>OFERTAS FLASH</strong>
  </div>
  <% if @promos.any?  %>
    <%= render @promos %>
  <% else %>
    <div class="alert alert-secondary">
      No hay promociones recientes
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="text-right">
        <%= link_to 'Ver todas', promos_path %>
      </div>
    </div>
  </div>

</div>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Texto</th>
      <th>Validez</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promos.each do |promo| %>
      <tr>
        <td><%= promo.titulo %></td>
        <td><%= promo.texto %></td>
        <td><%= promo.validez %></td>
        <td><%= link_to 'Show', promo %></td>
        <td><%= link_to 'Edit', edit_promo_path(promo) %></td>
        <td><%= link_to 'Destroy', promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promo', new_promo_path %>
