<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Historia:</strong>
  <%= @empresa.historia %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @empresa.resumen %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empresa.direccion %>
</p>

<p>
  <strong>Web:</strong>
  <%= @empresa.web %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empresa.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>

<p>
  <strong>Video:</strong>
  <%= @empresa.video %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @empresa.horario %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @empresa.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @empresa.lat %>
</p>

<p>
  <strong>User:</strong>
  <%= @empresa.user_id %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
