<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-md-3">

        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="rhh">
              <%= link_to "http://www.ruralhackathon.com" do %>
                <%= image_tag "logoRH.jpg", class: "img-fluid", alt: "Rural Hackathon"%>
              <% end %>
            </div>

          </div>
        </div>

      <p><small class="d-block mb-3 text-muted text-center">&copy; <%= Time.now.year %></small></p>
    </div>


    <div class="col-md-3">
      <h5>Plataforma</h5>
      <ul class="list-unstyled text-small">

        <li>  <%= link_to "Publicítate", "publicitate_path", class:"text-muted" %> </li>
        <li><a class="text-muted" href="/novedades">Novedades</a></li>
        <% unless user_signed_in? %>
        <li>  <%= link_to "Área Privada", new_user_session_path, class:"text-muted", rel: "nofollow" %> </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Información legal</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/politicadeprivacidad">Política de privacidad</a></li>
        <li><a class="text-muted" href="/cookies">Política de Cookies</a></li>
        <li><a class="text-muted" href="/condicionesdeuso">Condiciones de uso</a></li>

      </ul>
    </div>
    <div class="col-md-3">
      <h5>Sobre el proyecto</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/preguntasfrecuentes">Preguntas frecuentes</a></li>
        <li><a class="text-muted" href="/quejasysugerencias">Quejas y sugerencias</a></li>
        <li><a class="text-muted" href="/agradecimientos">Agradecimientos</a></li>
        <li><%= link_to "Contacto","new_contact_path", class:"text-muted" %> </li>
      </ul>
    </div>
  </div>
</footer>
